<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if lang == 'en' %}Survey{% elif lang == 'tr' %}Anket{% else %}Опрос{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<body class="{{ theme }}">
    <nav>

        <a href="{{ url_for('index', lang=lang) }}">{% if lang == 'en' %}Home{% elif lang == 'tr' %}Anasayfa{% else %}Главная{% endif %}</a>
        <a href="{{ url_for('about', lang=lang) }}">{% if lang == 'en' %}About{% elif lang == 'tr' %}Hakkında{% else %}О нас{% endif %}</a>
        <a href="{{ url_for('history', lang=lang) }}">{% if lang == 'en' %}History{% elif lang == 'tr' %}Tarihçe{% else %}История{% endif %}</a>
        <a href="{{ url_for('products', lang=lang) }}">{% if lang == 'en' %}Products{% elif lang == 'tr' %}Ürünler{% else %}Продукты{% endif %}</a>
        <a href="{{ url_for('form', lang=lang) }}">{% if lang == 'en' %}Survey{% elif lang == 'tr' %}Anket{% else %}Опрос{% endif %}</a>
        <a href="{{ url_for('faq', lang=lang) }}">{% if lang == 'en' %}FAQ{% elif lang == 'tr' %}SSS{% else %}Вопросы{% endif %}</a>
        <button class="language-button" data-lang="en"><img src="{{ url_for('static', filename='img/ingilizce.png') }}"></button>
        <button class="language-button" data-lang="tr"><img src="{{ url_for('static', filename='img/türkçe (2).png') }}"></button>
        <button class="language-button" data-lang="ru"><img src="{{ url_for('static', filename='img/rusça.png') }}"></button>
    </nav>
    <center>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScGSXzBfSsM4WNP_Rqj4xFQBArTRxGfemUPDdBHZWLYEWbl-w/viewform?embedded=true" width="640" height="2402" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>
    <footer>

        <div class="social-media">
            <a href="https://www.instagram.com"><img src="{{ url_for('static', filename='img/instagram.png') }}"></a>
            <a href="https://www.facebook.com" ><img src="{{ url_for('static', filename='img/facebook.png') }}"></a>
            <a href="https://www.youtube.com" ><img src="{{ url_for('static', filename='img/linkedin.png') }}"></a>
            <a href="https://www.linkedin.com" ><img src="{{ url_for('static', filename='img/youtube.png') }}"></a>
        </div>
        <p>&copy; 2024 {% if lang == 'en' %}All Rights Reserved.{% elif lang == 'tr' %}Tüm Hakları Saklıdır.{% else %}Все права защищены.{% endif %}</p>
    </footer>

    <button class="theme-toggle-button">
        <div class="top">{% if lang == 'en' %}Dark Mode{% elif lang == 'tr' %}Karanlık Mod{% else %}Темный режим{% endif %}</div>
        <div class="bottom">{% if lang == 'en' %}Light Mode{% elif lang == 'tr' %}Aydınlık Mod{% else %}Светлый режим{% endif %}</div>
    </button>
    <script src="/static/js/script.js"></script>
</body>
</html>
